.profile__button-save {
  margin: 50 0 0 20px;
  position: absolute;
}

@media screen and (max-width: 700px) {
  .profile__button-save {
    grid-area: edit;
    margin-top: 35px;
    margin-left: 10px;
    align-self: start;
  }
}