.popup__button:hover {
  opacity: .6;
}
.popup__button:disabled{
  background: #E5E5E5;
}
.popup__button {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
  width: 358px;
  min-height: 50px;
  padding: 0;
  margin-top: 18px;
  margin-bottom: 36px;
  align-self: center;
  cursor: pointer;
  transition: opacity 0.5s ease;
  border: none;
}

@media screen and (max-width: 1250px) {
  .popup__button {
    font-size: 14px;
    line-height: 17px;
    width: 238px;
    height: 46px;
    margin-top: 15px;
    margin-bottom: 25px;
  }
}