.profile__avatar {
  border-radius: 50%;
  overflow: hidden;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 168px;
  height: 140px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .profile__avatar{
    grid-row-end: 2;
  }
}

@media screen and (max-width: 605px) {
  .profile__avatar {
    max-width: 57%;
  }
}